html, body{
    margin:0;
    padding:0;
}
h1 {
    margin:0;
}
.main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: 'Architects Daughter', cursive;
}
#main1{
    /* background-image: url(https://nine57.github.io/MyPage-NINE.html/main.jpg); */
    background-image: url(https://user-images.githubusercontent.com/65281583/172055357-02ee81bb-7f6a-4f69-981f-b429ffbdd516.jpeg);
}
#contents{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
#contents h1{
    color: rgba(80, 80, 120, 0.85);
    font-size: 50px;
    text-align: left;
    /* margin-bottom: 500px; */
    /* margin-top: 15px; */
    margin-left: 30px;
}
#contents li{
    list-style: none;
    color: rgba(30, 30, 30, 0.85);
    font-size: 30px;
    text-align: left;
    margin-left: 50px;
}
#top-code1{
    color: rgba(250, 121, 121, 0.6);
}