<!doctype html>
<html>
    <head>
        <title>Lotto</title>
        <meta charset = "utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Stylish&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
        <link href="style.css" rel = "stylesheet" />
        <script>
            fetch("https://05bc-175-197-124-80.ngrok.io/draws")
                .then((response) => response.json())
                console.log(1)
                const number1 = 1
                console.log(2)
                const draw = document.createElement("p")
                console.log(3)
                const number = document.createTextNode(number1);
                console.log(4)
                draw.appendChild(number);
                console.log(5)
                const newP = document.getElementById("para1");
                console.log(6)
                document.body.insertBefore(draw, newP);
                console.log(7)
                .then(data => console.log(data.result))
        </script>
    </head>
    <body>
        <div class = "main" id = "main2">
            <span class = "top-code" id = "top-code2">
                <a href = "index.html">Return</a>
            </span>
            <span class = "top-list" id = "top-list2">
            </span>
            <div id = "para">
                <h1>추첨 번호!</h1>
                <p id="para1"></p>
            </div>
        </div>
    </body>
</html>
